<div>
    <h3>Hello, {{user.first_name}} {{user.last_name}}</h3>

    <p>I hope this email finds you well.</p>

    {% if key == 'Loan Approval' %}
    <p>We are pleased to inform you that your Loan Application has been successfully approved. The requested amount of ${{amount}} will be credited to your account shortly.</p>
    {% elif key == 'Loan' %}
    <p>This is to confirm that we have received your {{key}} request for an amount of ${{amount}}. Our team is now processing your request and will get back to you shortly with further details.</p>
    {% else %}
    <p>We are writing to confirm that your recent {{key}} of ${{amount}} has been successfully processed. Your updated account balance is now ${{balance}}.</p>
    {% endif %}

    <p>For any query you can replay in to this email.</p>

    {% if key == 'Loan Approval' %}
    <p>Congratulations on your approval, and thank you for banking with us!</p>
    {% else %}
    <p>Thank you for banking with us!</p>
    {% endif %}

    <p>Best Regards</p>
    <p>State Bank</p>
</div>
