asgiref
certifi
distlib
Django
django-crispy-forms
django-email
django-environ
filelock
MouseInfo
mysql-connector-python
pillow
pipenv
platformdirs
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
setuptools
sqlparse
tzdata
virtualenv