<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dummy Banking System" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/tailwindcss@2.0.1/dist/tailwind.min.css" />
    <title>{% block page_title %} State Bank - Welcome {% endblock %}</title>
    <style>
        body {
            font-family: "Lora", serif !important;
            font-optical-sizing: auto;
        }
    </style>
</head>
<body class="bg-[#1D232A]">
    {% include 'navbar.html' %}    
    <main>   
        {% block body%}     
        <div class="container mx-auto">
            {% block content %}            
            {% endblock %}
        </div>
        {% endblock %}
    </main>
    {% include 'footer.html' %}

    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        function toggleMenu(menuId) {
            let featuresMenu = document.getElementById('featuresMenu');
            let userMenu = document.getElementById('userMenu');
    
            featuresMenu.classList.add("hidden");
            userMenu.classList.add("hidden");
    
            let selectedMenu = document.getElementById(menuId);
            if (selectedMenu.classList.contains("hidden")) {
                selectedMenu.classList.remove("hidden");
            }
        }
        let userbalance = {{ request.user.account.balance }};
        let balance = "";
        if (userbalance >= 1000000000) {
            balance = (userbalance / 1000000000).toFixed(1) + "B";
        } else if (userbalance >= 1000000) {
            balance = (userbalance / 1000000).toFixed(1) + "M";
        } else if (userbalance >= 1000) {
            balance = (userbalance / 1000).toFixed(1) + "K";
        } else {
            balance = userbalance.toFixed(1);
        }
        document.getElementById('balance').innerText = '$ ' + balance
    </script>
</body>
</html>